[Desktop Entry]
Type=Application
Name=KubeScope
Comment=Desktop viewer for Kubernetes and Amazon EKS workloads
Exec=kubescope
Icon=com.dcotecnologia.KubeScope
Terminal=false
Categories=Development;System;
StartupWMClass=KubeScope
